.app-category-container {
    padding-top: 150px;
    padding-bottom: 50px;
}

.app-category-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.app-category-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background: #f1bf74;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: scale .3s;
}

.app-category-card h3 {
    cursor: pointer;

}
.app-category-card:hover {
    scale: 1.03;
}

.none-list {
    margin-top: 20px;
    font-size: 18px;
}

.app-category-like {
cursor: pointer;
}

.app-category-icon {
    font-size: 18px;
    color: #999;
    transition: scale .3s;
}

.app-category-icon:hover {
    scale:1.2;
}